<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="language" content="english"> 

    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="theme-color" content="#29a4bc">
    <meta name="twitter:card" content="summary" />

    <meta property="og:type" content="website" />
    <meta property="og:title" content="Hermes: Modrinth webhooks and RSS feeds" />
    <meta property="description" content="Hermes is a service that connects webhooks to Modrinth project releases. Hermes also offers RSS, Atom, and JSON feeds for Modrinth projects." />
    <meta property="og:description" content="Hermes is a service that connects webhooks to Modrinth project releases. Hermes also offers RSS, Atom, and JSON feeds for Modrinth projects." />
    <meta property="og:image" content="https://<%= process.env.DOMAIN %>/images/logo/icon-512x512.png" />

    <title>Hermes</title>

    <link rel="stylesheet" type="text/css" href="/styles/reset.css">
    <link rel="stylesheet" type="text/css" href="/styles/app.css">
</head>
<body>