<div class="title-nav">
	<div class="title">
		<div class="title-icon">
			<%- include ("../../static/images/logo/icon.svg") %>
			<h1>Hermes</h1>
		</div>
		<div class="subheading">an unofficial <a href="https://modrinth.com/">Modrinth</a> webhook & RSS service</div>
	</div>
	<nav>
		<a href="https://github.com/venashial/hermes#feeds-rss-atom-json">RSS</a>
    <a href="https://github.com/venashial/hermes/issues">Issues</a>
		<a href="https://github.com/venashial/hermes">Source code</a>
		<a href="#" onclick="switchTheme()" id="themeSwitcher">Switch to dark mode</a>
	</nav>
</div>