<%- include('../partials/head'); %>

<div class="four-o-four">
  404
  <h2>Redirecting you...</h2>
</div>

<script>
  setTimeout(function(){ window.location.replace("/"); }, 1500);
</script>

<%- include('../partials/footer'); %>
